<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <script>
var map;
var markers = [];

function initialize() {
  var mapOptions = {
    zoom: 2,
    streetViewControl: false,
    mapTypeControl: false,
    styles: [{
      "featureType": "administrative",
          "stylers": [{
          "visibility": "off"
      }]
    }, {
        "featureType": "poi",
            "stylers": [{
            "visibility": "simplified"
        }]
    }, {
        "featureType": "poi.park",
            "elementType": "labels.icon",
            "stylers": [{
            "visibility": "off"
        }]
    }, {
        "featureType": "poi.attraction",
            "elementType": "labels.icon",
            "stylers": [{
            "visibility": "off"
        }]
    }, {
        "featureType": "poi.business",
            "elementType": "labels.icon",
            "stylers": [{
            "visibility": "off"
        }]
    }, {
        "featureType": "road",
            "stylers": [{
            "visibility": "simplified"
        }]
    }, {
        "featureType": "water",
            "stylers": [{
            "visibility": "simplified"
        }]
    }, {
        "featureType": "transit",
            "stylers": [{
            "visibility": "off"
        }]
    }, {
        "featureType": "transit.station",
            "elementType": "labels.icon",
            "stylers": [{
            "visibility": "off"
        }]
    }, {
        "featureType": "transit.station.bus",
            "elementType": "labels.icon",
            "stylers": [{
            "visibility": "off"
        }]
    }, {
        "featureType": "landscape",
            "stylers": [{
            "visibility": "simplified"
        }]
    }, {
        "featureType": "road.highway",
            "stylers": [{
            "visibility": "off"
        }]
    }, {
        "featureType": "road.local",
            "stylers": [{
            "visibility": "on" // simplified removes street names
        }]
    }, {
        "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [{
            "visibility": "off"
        }]
    }, {
        "featureType": "water",
            "stylers": [{
            "color": "#84afa3"
        }, {
            "lightness": 52
        }]
    }, {
        "stylers": [{
            "saturation": -77
        }]
    }, {
        "featureType": "road"
    }, {
        "elementType": "labels.icon", //this overwrites a ton of stuff
        "stylers": [{
            "visibility": "off"
        }]
    }]
  };
  var marker;
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);


  //geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);

      var infowindow = new google.maps.InfoWindow({
        map: map,
        position: pos,
      });
      map.setCenter(pos);
      marker = new google.maps.Marker({
      position: pos,
      map: map,
  });
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}

google.maps.event.addDomListener(window, 'load', initialize);

    function placeMarker(location) {
        var marker = new google.maps.Marker({
            position: location,
            map: map,
        });
        markers.push(marker);
    }

    function addLocation(latitude, longitude, day_id, event) {
        $.ajax({
            type: "POST",
            url: "/locations",
            data: {
                location: {
                    name: "no name",
                    latitude: latitude,
                    longitude: longitude,
                    day_id: day_id
                }
            },
            success: function () {
                placeMarker(event.latLng);
                requestDayLocations();
            },
            error: function (response) {
                // append to div with response.responseText
                console.log(response.responseText);
                // $('.alert-message').append("<p>" + response.responseText + "</p>");
                // $('.alert-message').css("visibility", "visible"); //or fade in?

            }
        });
    }

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html> -->