<%= render :partial => 'layouts/navbar' %>

<strong> completed minds </strong>
<ul>
  <% @completed_minds.each do |mind| %>
  <li>
  <%= link_to mind.name, mind_path(mind) %>
</li>
  <% end %>


</ul>
<br>
<strong> incomplete minds </strong>
<ul>
  <% @incomplete_minds.each do |mind| %>
  <li>
  <%= link_to mind.name, mind_path(mind) %>
</li>
  <% end %>


</ul>