   <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>ModernMind</h1>
    <p>Hello,</p>
    <p> you have been added to the <%= Mind.last.name %> mind.</p>
    <p>- Master Mind</p>
    
  </body>
</html>
