   <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <h1>Welcome to ModernMind, <%= @user.name %></h1>
    <p>
      Your username is: <%= @user.email %>.<br>
    </p>
    <p>Thanks for joining!</p>

      </body>
</html>