<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>ModernMind</h1>
    <p><%= @user.name %>,</p>
    <p>You have X minutes/hours to start your neuron on the <%= Mind.last.name %> mind.</p>
    <p>You'll have X minutes to create your neuron.</p>
    <p>- Master Mind</p>
    
  </body>
</html>