<p id="notice"><%= notice %></p>


  <strong><%= @mind.name%></strong>
<div width:200%>
  <table>
  </tr>
 
<td>
  <img src="data:image/png;base64,<%=@neurons.image%>" style = "position: absolute;
left: 0px;
top: 100px;
z: 1;
height: 400px;
width: 200px;">

 </td>

 <td>
 <canvas id ="processing-canvas"></canvas>
 </td>
</tr>
</table>
</div>
 

<br>
<button id="save_button" onclick="saveDrawing()">Save</button>

<img class="lob" src="https://libcom.org/files/images/library/black-square.jpg">

}