<p id="notice"><%= notice %></p>

  <strong><%= @mind.name%></strong>
<button id="save_button" style="z=1" onclick="saveDrawing()">Save</button>
<div width:200%>
  <table>
  </tr>
<td>
  <img src="data:image/png;base64,<%=@neurons.image%>" style = "position: absolute;
	left: -700px;
	top: 100px;
	z: 1;
	height: 400px;
	width: 900px;">
 </td>
 <td>
 <canvas id ="processing-canvas"></canvas>
 </td>
</tr>
</table>
</div>
 
<img class="lob" src="http://img1.wikia.nocookie.net/__cb20061003200043/uncyclopedia/images/4/44/White_square.png">
