<p id="notice"><%= notice %></p>

  <strong><%= @mind.name%> you have <%= 4- @neurons.size %> left </strong> <br>


  <table>
  </tr>
<td>
  <img id = "neurons" src="data:image/png;base64, <% if @neurons.size == 0 %> <%else%> <%= @lastneuron.image %> <%end%>" style = "position: absolute;
	left: -700px;
	top: 100px;
	z-index: 1;
	height: 400px;
	width: 900px;
	outline: none;">
 </td>
 <td>
<canvas id ="processing-canvas"></canvas>


 </td>
 <td>
 	<!-- <button id="" onclick="colorPicker()">Color Picker</button> -->
  <button id="color-red">Red</button>
  <button id="color-orange">Orange</button>
  <button id="color-yellow">Yellow</button>
  <button id="color-green">Green</button>
  <button id="color-blue">Blue</button>
  <button id="color-purple">Purple</button>
  <button id="color-black">Black</button>
  <button id="color-white">White</button>
  <button id="eraser">Eraser</button><br>
 	<button id="" onclick="opacity()">Opacity</button>
 	<button id="stroke-small">Small</button>
 	<button id="stroke-medium">Medium</button>
 	<button id="stroke-large">Large</button>
 	<button id="" onclick="back()">Back</button>
 	<button id="" onclick="forward()">Forward</button>
 </td>
</tr>
<tr>

<input id = "neuron-name" style = "margin-top: 35%; margin-left:40%" text>

<button id="save_button" style = "margin-top: 2%; margin-left:40%" onclick="saveDrawing()">Submit My Neuron</button>

</tr>
</table>

<div class="display_mind"></div>
