<p id="notice"><%= notice %></p>

  <strong><%= @mind.name%> you have <%= 4- @neurons.size %> left </strong> <br>


  <table>
  </tr>
<td>
  <img id = "neurons" src="data:image/png;base64, <% if @neurons.size == 0 %> <%else%> <%= @lastneuron.image %> <%end%>" style = "position: absolute;
	left: -700px;
	top: 100px;
	z-index: 1;
	height: 400px;
	width: 900px;
	outline: none;">
 </td>
 <td>
<canvas id ="processing-canvas"></canvas>

 </td>
 <td>
 	<button id="" onclick="colorPicker()">Color Picker</button>
 	<button id="" onclick="opacity()">Opacity</button>
 	<button id="" onclick="small()">Small</button>
 	<button id="" onclick="medium()">Medium</button>
 	<button id="" onclick="large()">Large</button>
 	<button id="" onclick="back()">Back</button>
 	<button id="" onclick="forward()">Forward</button>
 </td>
</tr>
<tr>

<input id = "neuron-name" style = "margin-top: 35%; margin-left:40%" text>

<button id="save_button" style = "margin-top: 2%; margin-left:40%" onclick="saveDrawing()">Submit My Neuron</button>

</tr>
</table>

<div class="display_mind"></div>
