<p id="notice"><%= notice %></p>

  <strong><%= @mind.name%> you have <%= 4- @neurons.size %> left </strong> <br>


  <table>
  </tr>
<td>
  <img id = "neurons" src="data:image/png;base64, <% if @neurons.size == 0 %> <%else%> <%= @lastneuron.image %> <%end%>" style = "position: absolute;
	left: -700px;
	top: 100px;
	z-index: 1;
	height: 400px;
	width: 900px;
	outline: none;">
 </td>
 <td>
<canvas id ="processing-canvas"></canvas>


 </td>
 <td>
 	<!-- <button id="" onclick="colorPicker()">Color Picker</button> -->
    <div id="red"></div>
    <div id="orange"></div>
    <div id="yellow"></div>
    <div id="green"></div>
    <div id="blue"></div>
    <div id="purple"></div>
    <div id="black"></div>
    <div id="white"></div>
    <!-- <div id="eraser"> -->
    <%#= image_tag("eraser.jpg", :width => 30, :height => 30) %>
   <!-- </div> -->
   <!-- <div eraser="eraser" style="background: url('assets/eraser.jpg')"> -->


  <!-- <button id="color-red">Red</button>
  <button id="color-orange">Orange</button>
  <button id="color-yellow">Yellow</button>
  <button id="color-green">Green</button>
  <button id="color-blue">Blue</button>
  <button id="color-purple">Purple</button>
  <button id="color-black">Black</button>
  <button id="color-white">White</button> -->
   <button id="eraser">Eraser</button><br><br>

  <div id="opacity-small" title='Light Opacity'></div>
  <div id="opacity-medium" title='Medium Opacity'></div>
  <div id="opacity-large" title='Dark Opacity'></div><br><br>
 	<!-- <button id="opacity-small">Light</button> -->
<!--   <button id="opacity-medium">Medium</button>
  <button id="opacity-large">Dark</button><br> -->
  <div id="stroke-small" title='Small Stroke'></div>
  <div id="stroke-medium" title='Medium Stroke'></div>
  <div id="stroke-large" title='Large Stroke'></div>
<!--  	<button id="stroke-small">Small</button>
 	<button id="stroke-medium">Medium</button>
 	<button id="stroke-large">Large</button> -->
 </td>
</tr>
<tr>

<input id = "neuron-name" style = "margin-top: 35%; margin-left:40%" text>

<button id="save_button" style = "margin-top: 2%; margin-left:40%" onclick="saveDrawing()">Submit My Neuron</button>

</tr>
</table>

<div class="display_mind"></div>
