<h1>LOGO</h1>

<canvas id="processing-canvas"></canvas>
   
<script type="text/processing" data-processing-target="processing-canvas">
int prevX, prevY = 0;

void setup(){
  size(1000,400);
  background(255);
  stroke(1);
  strokeWeight(1);
  rect(1,1,998, 398);
  line(100,1,100,398)
  smooth();
}

void draw(){
  if ( mousePressed && mouseX > 0 ) {
    line(mouseX,mouseY,prevX,prevY);
  }
  prevX = mouseX;
  prevY = mouseY;
}
   </script>
   <script>
   function saveDrawing(){

     // Generate the image data
    var Pic = document.getElementById("processing-canvas").toDataURL("image/png");
    Pic = Pic.replace(/^data:image\/(png|jpg);base64,/, "")

    // Sending the image data to Server
    $.ajax({
        type: 'POST',
        url: '/neurons',
        data: '{ "image" : "' + Pic + '" }',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: function (msg) {
            alert("Done, Picture Uploaded.");
        }
    });
   }
   </script>
<br>
<button id="save_button" onclick='saveDrawing()'>Save</button>
