
<br>
<br>
<br>
<canvas id="processing-canvas" ></canvas>

<br>
<button id="save_button" onclick='saveDrawing()'>Save</button>


<canvas id='processing-canvas' style='z-index : 30;' absolute="10px;"></canvas>
<img style='z-index : 32;'  class="lob" src="https://libcom.org/files/images/library/black-square.jpg">


