<h1>Listing users</h1>


   <canvas id="processing-canvas"  ></canvas>
   
   <script type="text/processing" data-processing-target="processing-canvas">


int prevX, prevY = 0;

void setup(){
  size(6000,400);
  background(255);
  stroke(1);
  strokeWeight(3);
  smooth();
  rect(0,0,6000, 400)
}

void draw(){

  if ( mousePressed && mouseX > 0 ) {
    line(mouseX,mouseY,prevX,prevY);
  }

  prevX = mouseX;
  prevY = mouseY;

}


   </script>

<br>

