/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require token-input
 *= require token-input-mac
 *= require token-input-facebook

 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

canvas#processing-canvas {
  position: absolute;
  left: 200px;
  top: 100px;
  z: -1;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.display_mind {
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: 2;
  height: 401px;
  width: 150px;
  pointer-events: none;
  background: white;
}

#neurons {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-drag: none;
  -khtml-user-drag: none;
  -webkit-user-drag: none;
  user-drag: none;  
  }

#red{
    display: block;
    float: left;

    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: red;

    margin-right: 5px;
}
#orange{
    display: block;
    float: left;

    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: orange;

    margin-right: 5px;
}
#yellow{
    display: block;
    float: left;

    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: yellow;

    margin-right: 5px;
}
#yellow{
    display: block;
    float: left;

    border-radius: 50%;
    width: 25px;
    height: 25px;
    background:yellow;

    margin-right: 5px;
}
#green{
    display: block;
    float: left;

    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: green;

    margin-right: 5px;
}
#blue{
    display: block;
    float: left;

    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: blue;

    margin-right: 5px;
}
#purple{
    display: block;
    float: left;

    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: purple;

    margin-right: 5px;
}
#black{
    display: block;
    float: left;

    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: black;

    margin-right: 5px;
}
#white{
    display: block;
    float: left;

    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;

    margin-right: 5px;
}

#opacity-small{
  display: block;
  float: left;

  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: black;
  opacity:0.1;

  margin-right: 5px;
}
#opacity-medium{
  display: block;
  float: left;

  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: black;
  opacity:0.3;

  margin-right: 5px;
}
#opacity-large{
  display: block;
  float: left;

  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: black;
  opacity:1.0;

  margin-right: 5px;
}
#stroke-small{
  display: block;
  float: left;

  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: black;
  border-style: solid;
  border-color: white;
  border-width: 7px;

  margin-right: 5px;
}
#stroke-medium{
  display: block;
  float: left;

  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: black;
  border-style: solid;
  border-color: white;
  border-width: 4px;

  margin-right: 5px;
}
#stroke-large{
  display: block;
  float: left;

  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: black;

  margin-right: 5px;
}
#eraser{
    width: 30px;
    height: 30px;
  }
