#upvote-icon-completed{
  width:30px;
  height:30px;
}

#complete-minds-user-show, li, ul{
  margin-bottom:15px;  
 
}

#complete-minds-user-show{
 columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;


}