  
#neurons {
  position: absolute;
  left: -849px;
  }

#processing-canvas {
  left: 200px;
  top: -1000px;
  z: -1;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /*cursor: image-url('/assets/pencil.png'), auto;*/
}

#partial-neuron {
    width:50px;
    height:404px;
    overflow:hidden;
    position: relative;

}
#td-partial-neuron{

  width:50px;

} 
  
#draw-options{

  display: inline-block;
  float:left;
  width:170px;
  margin-left: 20px;  
}

#color-options{ 
 
  width:300px;
  display: inline-block;
  float:left;
  margin-left: 85px;
  margin-top: 5px;

}


#color-options strong{ 
margin-top:200000px;

}



#neuron-form{

   clear: both;

}

#eraser-options{
  display: inline-block;
  width:90px;
  margin-left: 20px; 
}


#draw-opacity{
 display: inline-block;
 width: 160px;
 margin-left: 20px; 

}

#canvas-options{
  width: 950px;
  margin: auto;
 

}

#share-mind{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#modalLabel{
  text-align: center;
}

#modal-body{
  text-align: center;
  margin: auto;
}

#modal-close{
  margin:auto;

}

#neuron-form input, select { 
  width: 300px; 
  padding: 12.9px; 
  color: #444; 
  background: #fff; 
  border: 1px solid #8c92ac; 
  margin: 7px 0px;  
  font-weight: 100;
}

#modal-body-p{
  width: 90%;
  margin:auto;


}