  
#neurons {
  position: absolute;
  left: -849px;
  }

#processing-canvas {
  left: 200px;
  top: -1000px;
  z: -1;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /*cursor: image-url('/assets/pencil.png'), auto;*/
}

#partial-neuron {
    width:50px;
    height:404px;
    overflow:hidden;
    position: relative;

}
#td-partial-neuron{

  width:50px;

} 
  
#draw-options{

  display: inline-block;
  float:left;
  width:170px;
  margin-left: 20px;  
}

#color-options{ 
 

  width:300px;
  display: inline-block;
  float:left;
  margin-left: 20px;

}

#neuron-form{

   clear: both;

}

#eraser-options{
  display: inline-block;
  width:90px;
  margin-left: 20px; 
}


#draw-opacity{
 display: inline-block;
 width: 160px;
 margin-left: 20px; 

}

#canvas-options{
  width: 80%;
  margin: auto;



}
