  #complete-minds-user-show, #open-mind-list{
  list-style-type: none;
  }

  #new_mind{
  width: 100%;
  padding: 12.9px;
  color: #444;
  background: #fff;
 
  margin: 7px 0px;
  font-weight: 100;
  }

  #upvote-icon-show{
   width: 15px;
   height: 15px;
   margin-top:-3px;
  }



